{% extends 'admin/mybase.html' %}

{% block body %}
{{ super() }}
        <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {{ task_id }}
                        </div>
                        <div class="panel-body">
                            <p>任务执行日志,
                                {{ in_time }} </p>
                            <pre>{{ log_detail }}</pre>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
            </div>
{% endblock %}

